<h1> TechnoWeather </h1>

<h3> Check the Current Weather Conditions and Daily Water Production </h3>

<div id="location" name="index"></div>

<button><%= link_to(image_tag("https://cdn3.iconfinder.com/data/icons/bubbles/512/Calendar-128.png", :class => "btn"), production_path) %></button>

<ul id="current_conditions">
	<li id="zone">LOCATION: <%= @conditions.country %>, <%= @conditions.city %></li>
	<li id="fahrenheit">TEMPERATURE (ºF): <%= @conditions.fahrenheit %></li>
	<li id="celsius">TEMPERATURE (ºC): <%= @conditions.celsius %></li>
	<li id="humidity">HUMIDITY: <%= @conditions.humidity %></li>
	<li id="wind">WIND: <%= @conditions.wind %></li>
	<li id="water">WATER PRODUCTION: <%= @conditions.water_production %> L</li>
</ul>

<input id="pac-input" name="InputIndex" class="controls" type="text">


