<h1> TechnoWeather </h1>

<h3> Check the Current Weather Conditions and Daily Water Production </h3>

<div id="location" name="index"></div>

<ul id="current_conditions">
	<li>LOCATION: <%= @conditions.country %>, <%= @conditions.city %></li>
	<li>TEMPERATURE (ºF): <%= @conditions.fahrenheit %></li>
	<li>TEMPERATURE (ºC): <%= @conditions.celsius %></li>
	<li>HUMIDITY: <%= @conditions.humidity %></li>
	<li>WIND: <%= @conditions.wind %></li>
	<li>WATER PRODUCTION: <%= @conditions.water_production %> L</li>
</ul>

<input id="pac-input" name="InputIndex" class="controls" type="text">


